{{ ansible_managed | comment }}

{% if hostname_base_content is defined and hostname_base_content | length > 0 %}
{{ hostname_base_content }}
{% endif %}
{% if hostname_extra_content is defined and hostname_extra_content | length > 0 %}

{{ hostname_extra_content }}
{% endif %}
{% if hostname_ipv6_default_content is defined and hostname_ipv6_default_content is sameas true %}

# The following lines are desirable for IPv6 capable hosts
::1 ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts
{% endif %}
